@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #eeeeee;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: #e4e5e8;
    border: 1px solid lightgray;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #d9d9d9;
  }
}
